* {
    box-sizing: border-box;
   }

   header{
    background-color: #cfe5d1;
    padding: 10px;
    margin-bottom: 20px;
    color: #2d2014;
    text-align: center;
   }

   body{
    img{
        max-width: 1000px;
        max-height: auto;
        display: block;
        margin:auto;
    }

   }
   .buttons{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
    border-radius: 10px;
   }